<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <h2>AJC Data Upload</h2>
    <form action="/login/" enctype="multipart/form-data" method="POST">
      {% csrf_token %}
      <table>
        {% for field in form %}
          <tr>
            <td>{{ field.label }}</td>
            <td>{{ field }}</td>
          </tr>
        {% endfor %}
      </table>
      <button type="submit">Log in</button>
    </form>
    {% if messages %}
    <div class="messages">
      {% for message in messages %}
        <p>{{ message }}</p>
      {% endfor %}
    </div>
    {% endif %}
  </body>
<html>
