{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/es6-shim/0.35.1/es6-shim.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
      integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
      crossorigin="anonymous"></script>
    <script src="{% static "js/vendor/bootstrap.min.js"%}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "css/vendor/bootstrap.min.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}"/>
    {% block resources %}{% endblock %}
  </head>
  </head>
  <body>
    <div class="main">
      <h1>
        Data Upload 
      </h1>
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
