{% extends 'base.html' %}
{% load static %}
{% load get_item %}

{% block content %}
<a href="/logout/"><button class="btn btn-default logout">Log out</button></a>
<h3>Mark column categories</h3>
{% if messages %}
<div class="messages error">
  {% for message in messages %}
    <p>{{ message }}</p>
  {% endfor %}
</div>
{% endif %}
<div class="categorize-form-holder">
  <form action="/upload/write-to-db/" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="results-holder">
      <table class="table table-striped">
        <thead>
          <tr>
            {% for header in headers %}
            <th>
              {{header.name}}
              <select name="{{ header.name }}">
                <option disabled selected value> -- select a category -- </option>
                {% for cat in ajc_categories %}
                  <option value="{{ cat.0 }}">{{ cat.1 }}</option>
                {% endfor %}
              </select>
            </th>
            {% endfor %}
          </tr>
        </thead>

        <tbody>
          {% for i in range %}
            <tr>
              {% for header in headers %}
                <td>{{ header.sample_data|get_item:i }}</td>
              {% endfor %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <button 
      type="submit"
      class="btn btn-primary data-submit">Continue</button>
  </form>

</div>

{% endblock %}
