{% extends 'upload/base.html' %}
{% load static %}

{% block resources %}
    <script src="{% static "js/tmpResults.js"%}"></script>
{% endblock %}

{% block content %}
<a href="/logout/"><button class="btn btn-default logout">Log out</button></a>
<h3>Mark column categories</h3>
{% if messages %}
<div class="messages error">
  {% for message in messages %}
    <p>{{ message }}</p>
  {% endfor %}
</div>
{% endif %}
<div class="categorize-form-holder">
  <form action="/upload/" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    {% for header in headers %}
      <div class="form-group">
        <label for="{{ header.name }}">{{ header.name }}</label>
        <div class="cat-examples">
          [
            <span class="cat-example">{{ header.sample_data }}</span>
          ]
        </div>
        <select class="form-control short" name="{{ header.name }}">
          <option disabled selected value> -- Select a category -- </option>
          {% for cat in ajc_categories %}
            <option value="{{ cat.0 }}">{{ cat.1 }}</option>
          {% endfor %}
        </select>
      </div>
    {% endfor %}

    <h3 class="progress-holder">Uploading temp file to S3<span id="current-state">
        <span class="label label-info">PENDING</span>
      </span>
    </h3><span id="progress-message"></span>
      <div class="progress">
        <div id="progress-bar" class="progress-bar progress-bar-info progress-bar-striped active" style="min-width: 2em" role='progressbar'></div>
      </div>
    <div id="details"></div>
    <div id="message"></div>
    <div id="warnings"></div>
    <button 
      type="submit"
      class="btn btn-primary data-submit"
      id="continue"
      disabled>Continue</button>
  </form>
</div>

{% endblock %}
