{% extends 'base.html' %}
{% load static %}

{% block resources %}
    <script src="{% static "js/tmpResults.js"%}"></script>
{% endblock %}

{% block content %}
<a href="/logout/"><button class="btn btn-default logout">Log out</button></a>
<h3>Mark column categories</h3>
{% if messages %}
<div class="messages error">
  {% for message in messages %}
    <p>{{ message }}</p>
  {% endfor %}
</div>
{% endif %}
<div class="categorize-form-holder">
  <form action="/upload/" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    {% for header in headers %}
      <div class="form-group">
        <label for="{{ header.name }}">{{ header.name }}</label>
        <div class="cat-examples">
          [
            <span class="cat-example">{{ header.sample_data }}</span>
          ]
        </div>
        <select class="form-control short" name="{{ header.name }}">
          <option disabled selected value> -- Select a category -- </option>
          {% for cat in ajc_categories %}
            <option value="{{ cat.0 }}">{{ cat.1 }}</option>
          {% endfor %}
        </select>
      </div>
    {% endfor %}
    <button 
      type="submit"
      class="btn btn-primary data-submit">Continue</button>
  </form>

</div>

{% endblock %}
