{% extends 'upload/base.html' %}
{% load static %}

{% block resources %}
<script type="text/javascript" src="{% static "js/file-select.js"%}"></script>
{% endblock %}

{% block content %}
<a href="/logout/"><button class="btn btn-default logout">Log out</button></a>
<em>Note: This tool currently accepts only CSV files, with column headers in the first row. We're working on accepting more file formats</em>
<div class="row">

  <div class="col-sm-3 sidebar">

    <h4>Looking for a dataset?</h4>
    <p><a href="/search/">Go to search page</a></p>

    <h4>Recent uploads</h4>
    <ul>
      {% for upload in uploads %}
        <li>
          <a href="/search/"><div>{{upload.table}}</div></a>
          <div class="timestamp">{{upload.upload_time}}</div>
          <div class="topic">Topic: {{upload.topic}}</div>
          <div><em>Uploaded by {{upload.user}}</em></div>
        </li>
      {% endfor %}
    </ul>

    <h4>Found a bug?</h4>
    <p>Contact the authors</p>
    <p>
      <a href="mailto:jonathan.cox@ajc.com">Jonathan Cox</a>
    </p>
    <p>
      <a href="mailto:jeff.ernsthausen@ajc.com">Jeff Ernsthausen</a>
    </p>

  </div><!--sidebar-->

  <div class="upload-form-holder col-sm-9">
    <div class="page-header"><h3>Upload a CSV</h3></div>
    <form enctype="multipart/form-data" class="form" action="/" method="post">
      {% csrf_token %}
        <div class="row">
          <div class="col-sm-8">
            <div class="form-group">
              <label>{{ form.data_file.label }}</label>
              {{form.data_file}}
              {% for error in form.datafile.errors %}
                <div class="error">{{ error }}</div>
              {% endfor %}
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label>{{ form.table_name.label }}</label>
              {{form.table_name}}
              {% for error in form.table_name.errors %}
                <div class="error">{{ error }}</div>
              {% endfor %}
            </div>
          </div>
          <div style="clear:both;"></div>

          <div class="db_holder">
            <div class="col-sm-5">
              <div class="form-group">
                <label>{{ form.db_select.label }}</label>
                {{form.db_select}}
                {% for error in form.db_select.errors %}
                  <div class="error">{{ error }}</div>
                {% endfor %}
              </div>
            </div>
            <div class="col-sm-1 or">
              <h4>OR</h4>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label>{{ form.db_input.label }}</label>
                {{form.db_input}}
                {% for error in form.db_input.errors %}
                  <div class="error">{{ error }}</div>
                {% endfor %}
              </div>
            </div>
            <!--To give the db-holder dimensions-->
            <div style="clear:both;"></div>
          </div>

          <div class="col-sm-6">
            <div class="form-group">
              <label>{{ form.topic.label }}</label>
              {{form.topic}}
              {% for error in form.topic.errors %}
                <div class="error">{{ error }}</div>
              {% endfor %}
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label>{{ form.source.label }}</label>
              {{form.source}}
              {% for error in form.source.errors %}
                <div class="error">{{ error }}</div>
              {% endfor %}
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label>{{ form.press_contact.label }}</label>
              {{form.press_contact}}
              {% for error in form.press_contact.errors %}
                <div class="error">{{ error }}</div>
              {% endfor %}
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label>{{ form.press_contact_number.label }}</label>
              {{form.press_contact_number}}
              {% for error in form.press_contact_number.errors %}
                <div class="error">{{ error }}</div>
              {% endfor %}
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label>{{ form.press_contact_email.label }}</label>
              {{form.press_contact_email}}
              {% for error in form.press_contact_email.errors %}
                <div class="error">{{ error }}</div>
              {% endfor %}
            </div>
          </div>

        </div>

        {% if form.non_field_errors %}
          <div class="error">
            {{ form.non_field_errors }}
          </div>
        {% endif %}

        <div>
          <button type="submit" class="btn btn-primary data-submit">Submit</button>
        </div>
    </form>
  </div><!--upload-form-holder-->

{% if messages %}
<div class="messages">
  {% for message in messages %}
    <p>{{ message }}</p>
  {% endfor %}
</div>
{% endif %}

{% endblock %}
