      <div class="row">
        <h3>
          <span class="glyphicon glyphicon-list-alt"></span> 
          <strong> Table</strong> Details
        </h3>
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              {{form.table_name}}
              <div class="errors"></div>
            </div>
          </div>
        </div><!--/.row-->
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              {{form.topic}}
              <div class="errors"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              {{form.source}}
              <div class="errors"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <input class="form-control" placeholder='When to update next'/>
              <div class="errors"></div>
            </div>
          </div>
        </div>
      </div><!--/.row-->

      <div class="row">
        <div class="press-inputs">
          <h3>
            <span class="glyphicon glyphicon-phone"></span> 
            <strong> Contact</strong> Details
          </h3>
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                {{form.press_contact_type}}
                <div class="errors"></div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                {{form.press_contact}}
                <div class="errors"></div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                {{form.press_contact_number}}
                <div class="errors"></div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                {{form.press_contact_email}}
                <div class="errors"></div>
              </div>
            </div>
          </div>
        </div><!--/.row-->
      </div><!--/.press-inputs-->
    </form><!--/.row-->

