{% extends 'upload/base.html' %}
{% load static %}

{% block resources %}
    <script src="{% static "js/results.js"%}"></script>
{% endblock %}

{% block content %}
  <a href="/logout/"><button class="btn btn-default logout">Log out</button></a>
  <h3 class="progress-holder">Upload progress for {{table}}
    <span id="current-state">
      <span class="label label-info">PENDING</span>
    </span>
  </h3><span id="progress-message"></span>
    <div class="progress">
      <div id="progress-bar" class="progress-bar progress-bar-info progress-bar-striped active" style="min-width: 2em" role='progressbar'></div>
    </div>
  <div id="details"></div>
  <div id="message"></div>
  <div id="warnings"></div>
{% endblock %}

