{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="row">

  <div class="col-sm-3 sidebar">
    <h3>Recent uploads</h3>
    <div>
      {% for upload in uploads %}
        <div class="table-teaser">
          <h4 class="list-table-title">
            <a href="./tables/{{upload.id}}">{{upload.table}}</a>
          </h4>
          <div class="timestamp">{{upload.upload_time}}</div>
          <div class="topic">Topic: {{upload.topic}}</div>
          <div><em>Uploaded by {{upload.user}}</em></div>
        </div>
      {% endfor %}
    </div>
  </div><!--sidebar-->

  <div class="upload-form-holder col-sm-9">
    <form class="form" id="upload-form">
      {% csrf_token %}
      <div class="row">
        <h3>
          <span class="glyphicon glyphicon-folder-open"></span> <strong>Select</strong> a CSV
        </h3>
        <div class="row">
          <div class="col-sm-8">
            <div class="form-group">
              {{file_form.data_file}}
              <div class="errors"></div>
            </div>
          </div>
        </div><!--/.row-->
      </div><!--/.row-->
    </form>

    <div>
      <button id="file-submit" data-loading-text="Uploading..." class="btn btn-primary btn-lg">
        <span class="glyphicon glyphicon-circle-arrow-up"></span>
        Upload
      </button>
    </div>

    <!--Header check modal -->
    <div class="modal fade" tabindex="-1" role="dialog" id="headerModal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <div id="header-prompt">
              <h3>Headers</h3>
              <p>Are these the correct column titles for this dataset?</p>
              <ul id="header-input-holder"></ul>
              <div class="alert alert-warning">
                <p>
                  <span class="glyphicon glyphicon-alert"></span> 
                  If your dataset doesn't have column titles, or the titles above are 
                  incorrect, please cancel the upload and add column titles
                  in Microsoft Excel or your favorite text editor.
                </p>
              </div>
            </div>

          <form id="metadata-form" class="form" style="display:none;">
            {% csrf_token %}
            <input type="hidden" value="" name="headers"/>
            <p>Enter some extra information about the table you're uploading.
              This information will help other reporters access this data</p>

            <h3>
              <span class="glyphicon glyphicon-list-alt"></span> 
              <strong> Table</strong> Details
            </h3>

            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  {{meta_form.table_name}}
                  <div class="errors"></div>
                </div>
              </div>
            </div><!--/.row-->
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  {{meta_form.topic}}
                  <div class="errors"></div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  {{meta_form.source}}
                  <div class="errors"></div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <input class="form-control" placeholder='When to update next'/>
                  <div class="errors"></div>
                </div>
              </div>
            </div>

            <h3>
              <span class="glyphicon glyphicon-phone"></span> 
              <strong> Contact</strong> Details
            </h3>

            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  {{meta_form.press_contact_type}}
                  <div class="errors"></div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  {{meta_form.press_contact}}
                  <div class="errors"></div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  {{meta_form.press_contact_number}}
                  <div class="errors"></div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  {{meta_form.press_contact_email}}
                  <div class="errors"></div>
                </div>
              </div>
            </div><!--/.row-->
          </form>
        </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary" id="continue-btn">Continue</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

  </div><!--upload-form-holder-->

  {% if messages %}
  <div class="messages">
    {% for message in messages %}
      <p>{{ message }}</p>
    {% endfor %}
  </div>
  {% endif %}

  <script src="{% static "js/upload-file.js"%}"></script>

{% endblock %}
