.main {
  position: relative;
  width: 500px;
  left: 50%;
  transform: translateX(-50%);
}

button.logout {
  position: absolute;
  top: 0;
  right: 0;
}

.cat-examples {
  display: inline-block;
  color: #999999;
}

.sql-error {
  padding: 10px;
}

.message {
  position: relative;
  width: 300px;
  padding: 10px;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 10px;
}
