.main {
  position: relative;
  max-width: 1000px;
  left: 50%;
  transform: translateX(-50%);
}

button.logout {
  position: absolute;
  top: 0;
  right: 0;
}

.cat-examples {
  color: #999999;
}

.sql-error {
  padding: 10px;
}

.errors {
  color: #f27979
}

.message {
  position: relative;
  padding: 10px;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 10px;
}

#details {
  overflow-x: auto;
}

.credit {
  clear: both;
  text-align: center;
  padding: 40px;
}

.short {
  width: 250px;
}

.sidebar {
  border-right: 2px solid #EFEFEF;
}

.or {
  position: relative;
  text-align: center;
  transform: translateY(50%);
}

.db_holder {
  position: relative;
}

.db-core-inputs {
  background-color: #EFEFEF;
  padding: 15px;
  margin-bottom: 20px;
}

.upload-form-holder {
  padding-left: 40px;
}

.search-result-name {
  margin-bottom: 0;
}

.search-result-columns {
  margin-top: 10px;
}

.sql-type {
  color: #999999;
}

.form-group .row {
  margin-top:15px;
  margin-bottom:15px;
  vertical-align: middle;
}

label {
  vertical-align: middle;
}

.results {
  border-bottom:1px solid #ccc;
  padding:10px 0px;
}

.results-holder {
  overflow: scroll;
}

.detail-table-holder {
  height: 500px;
}

.result-item {
  margin-top: 40px;
}

.table-title {
  background-color: #EFEFEF;
  padding:2px;
  text-decoration: underline;
}

.error-holder {
  margin-left: -15px;
  text-align: left;
  width: 100%
}

.highlight {
  background-color: yellow;
}

.count {
  color: #337ab7;
}

.site-title {
  color: black;
  cursor: pointer;
}

.search-form {
  padding: 0px 15px;
  background-color: #EFEFEF;
}

.advanced-search {
  text-decoration: underline;
  color: #337ab7;
  cursor: pointer;
}

input.check {
  margin-right: 3px;
}

div#search-filters label {
  margin-right: 5px;
}
