{% extends 'base.html' %}

{% block content %}
<h3>Mark column categories. This will make searching easier.</h3>
<div class="categorize-form-holder">
  <form action="/categorize/" method="POST">
    {% csrf_token %}

    {% for header in headers %}
      <div class="form-group">
        <label>{{ header.name }}</label>
        <select class="form-control">
          {% for cat in ajc_categories %}
            <option value="{{ cat.0 }}">{{ cat.1 }}</option>
          {% endfor %}
        </select>
      </div>
    {% endfor %}

    <button type="submit" class="btn btn-primary data-submit">Submit</button>
  </form>
</div>

{% endblock %}
