{% extends 'base.html' %}
{% load static %}

{% block resources %}
    <script src="{% static "js/results.js"%}"></script>
{% endblock %}

{% block content %}
  <h3 class="progress-holder">Upload progress for {{table}}
    <span id="current-state">
      <span class="label label-info">PENDING</span>
    </span>
  </h3>
    <div class="progress">
      <div id="progress-bar" class="progress-bar progress-bar-info progress-bar-striped" style="min-width: 2em" role='progressbar'></div>
    </div>
  <div id="details"></div>
{% endblock %}

