<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>AJC Data Warehouse</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> 
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"> 

	<style>

	.form-group .row {
		margin-top:15px;
		margin-bottom:15px;
		vertical-align: middle;
	}

	label {
		vertical-align: middle;
	}

	.results {
		border-bottom:1px solid #ccc;
		padding:10px 0px;
	}
	table.preview-table {
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      margin-top: 20px;
      border-collapse: collapse;
    }
	</style>
</head>
<body>
	<div class="container">
		<div class="row">
			{% block search%}{% endblock %}

		</div>
		<div class="row" id="results-row">
			<hr/>
			<div class="col-sm-12">
				{% block results %}{% endblock %}
			</div>
		</div>

</body>
</html>
