{% extends "base.html" %}
{% load static %}

{% block resources %}
  <script type="text/javascript" src="{% static "js/search.js"%}"></script>
{% endblock %}

{% block content %}

{% load highlight %}

<div class="col-xs-12">
  <h3>
    Found <span class="count">{{ result.count }}</span> 
    matches for {{ query }} in 
    <span class="table-title"> {{ result.table }} </span>
  </h3>
  <div class="small">
    If there are more than 50 rows the results shown here will be truncated.
    Click download to get all the search results as a CSV.
  </div>
  <button class="btn btn-success" id="download-btn"
    data-loading-text="Generating CSV..."
    data-id="{{result.table.id}}">
      Download All Search Results
  </button>

  <div class="results-holder">
    <table class="table table-striped">
      <thead>
        <tr>
          {% for header in result.preview.headers %}
            <th class="preview-header">{{ header }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for row in result.preview.data %}
        <tr>
          {% for el in row %}
            <td>{{ el|highlight:query }}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
