{% extends "base.html" %}
{% load static %}

{% block resources %}
  <script type="text/javascript" src="{% static "js/search.js"%}"></script>
{% endblock %}

{% block content %}

<form method="POST" class="form-horizontal" action="/search/">
{% csrf_token %}
  <div class="form-group">
    <div class="row">
      <div class="col-sm-4">
        <label for="query" class="control-label">Enter a name:</label>
        <input type="text" class="form-control" name="query">
      </div>
      <div class="col-sm-3">
        {% if error %}
          <div class="row">
            <span class="errors" id="search-error">{{ error }}</span>
          </div>
        {% endif %}
      </div>
    </div>


    <div class="row">
      <div class="col-sm-2">
        <button class="btn btn-primary" id="search-submit" data-loading-text="Searching..." type="submit">Search</button>
      </div>
    </div>

  </div>
</form>

{% if results %}
  <h3>Results</h3> 
  {% for result in  results%}
  <div class="row result-item">

    <div class="col-xs-12">
      <h3>
        Found records in <span class="table-title"> {{ result.table }} </span>
      </h3>

      {% if result.data|length > 6 %}
          <form method="POST" class="form-horizontal" action="./show_full_dataset/">
              {% csrf_token %}
              <input type="hidden" name="query" value = {{ query }}>
              <input type="hidden" name="database" value = {{ result.database }}>
              <input type="hidden" name="table" value = {{ result.table }}>
              <input type="hidden" name="search_columns" value = {{ result.search_columns }}>
              <button class="btn btn-success" type="submit">See all records</button>
          </form>
      {% endif %}

      <div class="results-holder">
        <table class="table table-striped">
          <thead>
            <tr>
              {% for header in result.preview.headers %}
                <th class="preview-header">{{ header }}</th>
              {% endfor %}
            </tr>
          </thead>
          <tbody>
            {% for row in result.preview.data %}
            <tr>
              {% for el in row %}
                <td><span>{{ el }}</span></td>
              {% endfor %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  {% endfor %}
{% endif %}

{% endblock %}
