{% extends "base.html" %}
{% load static %}

{% block resources %}
  <script type="text/javascript" src="{% static "js/search.js"%}"></script>
{% endblock %}

{% block content %}

{% if error %}
  <div class="errors error-holder" id="search-error">{{ error }}</div>
{% endif %}

<form method="POST" class="form-horizontal" action="/search/">
{% csrf_token %}
  <div class="form-group">
    <div class="row">
      <div class="col-sm-4">
        <label for="query" class="control-label">Enter search term/s:</label>
        <input type="text" class="form-control" name="query">
        <span class="small">If you want to match a full name
          wrap it in quotation marks like so: "Nathan Deal"</span>
      </div>
    </div>


    <div class="row">
      <div class="col-sm-2">
        <button class="btn btn-primary" id="search-submit" data-loading-text="Searching..." type="submit">Search</button>
      </div>
    </div>

  </div>
</form>

{% load highlight %}

{% if results %}

  <h3>Results for "<span class="highlight">{{query}}</span>"</h3>

  {% for result in  results%}
  <div class="row result-item">

    <div class="col-xs-12">
      <h3>
        Found records in <span class="table-title"> {{ result.table }} </span>
      </h3>

      <div class="row">
        <div class="col-xs-2">
          <form method="POST" action="./detail/">
              {% csrf_token %}
              <input type="hidden" name="query" value="{{ query }}">
              <input type="hidden" name="table" value="{{ result.table }}">
              <input type="hidden" name="search_columns" value="{{ result.search_columns }}">
              <button class="btn btn-default" data-loading-text="Loading..." id="detail-submit" type="submit">See all records</button>
          </form>
        </div>
        <!--
        <div class="col-xs-2">
          <button class="btn btn-default url-btn" data-id="{{result.id}}">
            Get S3 URL
          </button>
        </div>
        -->
      </div>

      <div class="results-holder">
        <table class="table table-striped">
          <thead>
            <tr>
              {% for header in result.preview.headers %}
                <th class="preview-header">{{ header }}</th>
              {% endfor %}
            </tr>
          </thead>
          <tbody>
            {% for row in result.preview.data %}
            <tr>
              {% for el in row %}
                <td>{{ el|highlight:query }}</td>
              {% endfor %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  {% endfor %}
{% endif %}

{% endblock %}
