{% extends "base.html" %}
{% load static %}


{% block content %}

<form method="POST" class="form-horizontal" action="/search/">
{% csrf_token %}
  <div class="form-group">

    <div class="row">
      <div class="col-sm-4">
        <label for="query" class="control-label">Enter a name:</label>
        <input type="text" class="form-control" name="query" placeholder={{ result.query }}>
      </div>
    </div>


    <div class="row">
      <div class="col-sm-2">
        <button class="btn btn-success" type="submit">Search</button>
      </div>
    </div>

  </div>
</form>

<h3>Results</h3> 
{% if results %}
  {% for result in  results%}
  <div class="row result-item">

    <div class="results-holder col-xs-12">
      <h3>
        Found records in <span class="table-title"> {{ result.table }} </span>
      </h3>

      {% if result.data|length > 6 %}
          <form method="POST" class="form-horizontal" action="./show_full_dataset/">
              {% csrf_token %}
              <input type="hidden" name="query" value = {{ query }}>
              <input type="hidden" name="database" value = {{ result.database }}>
              <input type="hidden" name="table" value = {{ result.table }}>
              <input type="hidden" name="search_columns" value = {{ result.search_columns }}>
              <button class="btn btn-success" type="submit">See all records</button>
          </form>
      {% endif %}

      <table class="table table-striped">
        <thead>
          <tr>
            {% for header in result.preview.headers %}
              <th class="preview-header">{{ header }}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for row in result.preview.data %}
          <tr>
            {% for el in row %}
              <td><span>{{ el }}</span></td>
            {% endfor %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  {% endfor %}
{% endif %}

{% endblock %}
