{% extends "base.html" %}
{% load static %}

{% block resources %}
  <script src="{% static "js/search.js" %}"></script>
{% endblock %}

{% block content %}
<div class="row">

  <div class="col-sm-3 sidebar">
    <form action="/search/" method="GET">
      <table>
        {{ form.as_table }}
      </table>
      <input class="btn btn-primary" type="submit" value="Search"/>
    </form>
  </div><!--sidebar-->

  <div class="col-sm-9">
    <form method="get" action=".">
        {% if query %}
        <h1>Results <small>({{page.object_list|length}} found)</small></h1>
            {% for result in page.object_list %}
            <h3 class="search-result-name">
              <button class="btn btn-default url-btn" data-id="{{result.object.id}}">
                Get S3 URL
              </button>
              {{ result.object.table }}
            </h3>
                <small>
                  Uploaded by {{result.object.user.username}}
                  on {{result.object.upload_time}}
                </small>
                <p class="search-result-columns"> Columns: <br>
                  {% for col in result.object.column_set.all %}
                      {{ col.column }}, 
                  {% empty %}
                    <p>
                      No data available
                    </p>
                  {% endfor %}
                </p>

            {% empty %}
                <p>No results found.</p>
            {% endfor %}

            {% if page.has_previous or page.has_next %}
                <div>
                    {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                    |
                    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
                </div>
            {% endif %}
        {% else %}
            {# Show some example queries to run, maybe query syntax, something else? #}
        {% endif %}
    </form>
  </div>

{% endblock %}
