# This is a sample file that configures the environment for running the Redis
# server and asynchronous celery process locally during development.

# <database_url> is where Django will store metadata about file uploads
# <data_warehouse_url> is the address of the MySQL server where the actual data
# will be uploaded. IMPORTANT: Note that there is no DB name following the
# data_warehouse_url variable. The app is (for now) hardcoded to upload to a DB
# called `imports`
[databases]
data_warehouse_url=mysql://<username>:<pw>@<host>:<port>
database_use_url=mysql://<username>:<pw>@<host>:<port>/<db_name>


# <redis_url> is the address of Redis server. If you're running Redis locally
# the address will probably be redis://localhost:6379
[redis]
redis_url=redis://<username>:<pw>@<host>:<port>


# <s3_bucket> is the name of the bucket on Amazon S3 where CSVs will be
# uploaded. <aws_access_key> and <aws_secret_key> are the user credentials
# for AWS
[s3]
s3_bucket=<bucket_name>
aws_access_key=<your_access_key>
aws_secret_key=<your_secret_key>


# <search_url> is the address of the ElasticSearch server.
[search]
search_url=<your_search_url>

